<div class="talent-header">
  <div class="talent-picture">
    <img src="">
  </div>
  <div class="talent-basic-info">
    <h1>Name</h1>
    <p>
      Profession
    </p>
  </div>
  <div class="talent-contact-info">
    <p>
      <a href="#" class="contact-link">Github/Dribbble</a>
    </p>
    <p>
      <a href="#" class="contact-link">Email</a>
    </p>
  </div>
</div>

<div class="talent-attributes">
  <div class="talent-skills">
    <h2>Skills </h2>
  </div>
  <div class="talent-desires">
    <h2> Desires </h2>
  </div>
</div>

<div class="cover-letter">
  <h2> Cover Letter </h2>
  <p>
    Blah blah blah
  </p>
</div>

<div class="resume">
  <h2>Resume</h2>
  <p>
    Blah Blah Blah
  </p>
</div>
