<div class="talent-header">
  <%= render partial: "header",
    locals: { talent: @talent, profile: @profile } %>
</div>

<div class="talent-attributes">
  <div class="talent-skills">
    <h2>Skills </h2>
    <%= link_to "Edit Skill Levels",
      edit_proficiency_list_path %>
    <ul>
      <%= render @profile.proficiencies %>
    </ul>
  </div>
</div>
