.landing {
  @include span-columns(12);
  padding: 40px 0;
  border-bottom: 1px solid $thes-blue;
  text-align: center;

  h1 {
    color: $medium-blue;
    font-size: 100px;
    margin: 40px 0;
  }

  h2 {
    color: $thes-blue;
    font-size: 50px;
  }

  p {
    color: $steel-gray;
  }

  p.about {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
  }

  .auth-buttons {
    color: $medium-blue;
    font-size: 40px;
    font-weight: bold;

    form {
      display: inline-block;

      button, input[type=submit] {
        @include big-button;
      }
    }
  }
}
