.landing {
  @include span-columns(12);
  padding: 40px 0;
  border-bottom: 1px solid $thes-blue;
  .sign-up-container {
    @include span-columns(6);
    form.talent-sign-up{
      input[type=text], input[type=password], input[type=email] {
        font-size: 16px;
        margin-top: 14px;
      }

      button, input[type=submit] {
        padding: 4px 10px;
        font-size: 16px;
        background-color: $thes-blue;
        border: 0;
        border-radius: 5px;
        color: $thes-gray;

        &:hover {
          cursor: pointer;
          background-color: $medium-blue;
        }
      }
    }
  }
  .landing-nav {
    @include span-columns(6);
    ul {
      li {
        list-style: none;
        margin: 20px;
        a {
          text-decoration: none;
          color: $thes-blue;
          font-size: 20px;
        }
      }
    }
  }
}
.about {
  @include span-columns(12);
  border-bottom: 1px solid $thes-blue;
  h2 {
    color: $thes-blue;
    font-size: 26px;
  }
}
