.company-header {
  @include span-columns(12);
  padding-top: 30px;
  .company-logo {
    @include span-columns(4);
    img {
      width: 150px;
      height: 150px;
      border-radius: 150px;
      border: 1px solid black;
      display: block;
      margin: 0 auto;
    }
  }

  .company-basic-info {
    @include span-columns(8);
    list-style: none;
    color: black;
    h1 {
      color: $medium-blue;
    }
  }
}
