<div class="company-logo">
  <%= image_tag @profile.logo_url, alt:"#{@profile.name}" %>
</div>
<div class="company-basic-info">
  <h1><%= @profile.name %></h1>
  <p>
    <%= @profile.description %>
  </p>
</div>
