<div class="landing">
  <div class="sign-up-container">
    <form class="talent-sign-up">
      <input type="text" placeholder="Full Name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="submit" placeholder="Submit">
    </form>
  </div>
  <div class="landing-nav">
    <ul>
      <li>I am a Company</li>
      <li>I am Talent</li>
      <li>What is Thes?</li>
    </ul>
  </div>
</div>
<div class="about">
  <h2>About</h2>
</div>
