<div class="landing">
  <h1>Welcome to Thes</h1>
  <h2>A New Kind of Job Search</h2>
  <p class="about">
    Thes uses LinkedIn skills to match Companies with Talent
  </p>
  <p><small>*You must have a LinkedIn account to use Thes</small></p>
  <div class="auth-buttons">
    <%= button_to "Sign Up with LinkedIn", linkedin_path %>
    OR
    <%= button_to "Sign In with LinkedIn", linkedin_path %>
  </div>
</div>
