<div class="landing">
  <div class="sign-up-container">
    <h2>Sign up below!</h2>
    <%= button_to "Sign Up with LinkedIn", linkedin_path %>
  </div>
  <div class="landing-nav">
    <ul>
      <li class="active"><a href="#">I am a Company</a></li>
      <li><a href="#">I am Talent</a></li>
      <li><a href="#">What is Thes?</a></li>
    </ul>
  </div>
</div>
<div class="about">
  <h2>About</h2>
    <p>
      Deep v authentic ennui shabby chic keytar Vice. PBR&B direct trade raw denim craft beer lomo. Keytar Odd Future PBR, fixie leggings normcore farm-to-table direct trade +1 roof party. Organic Pitchfork Schlitz kogi brunch. Godard Williamsburg biodiesel, scenester trust fund Vice pug gastropub vegan shabby chic kitsch actually cray. Blog skateboard XOXO biodiesel, Helvetica irony next level street art pop-up Williamsburg occupy cardigan post-ironic gastropub craft beer. Post-ironic ethical Echo Park, Carles plaid authentic wolf bespoke polaroid mumblecore beard pug.
    </p>
    <p>
      Bitters cornhole banjo, pork belly mustache cray selvage drinking vinegar lomo. Tattooed irony mixtape, master cleanse butcher fixie authentic synth swag pour-over paleo mumblecore. Forage ethnic direct trade, whatever tofu squid gastropub. Occupy +1 actually, quinoa organic Bushwick fixie. Thundercats whatever literally irony craft beer you probably haven't heard of them. Pour-over seitan dreamcatcher DIY, Etsy before they sold out semiotics sartorial Echo Park sustainable. Locavore narwhal pop-up High Life biodiesel.
    </p>
    <p>
      Etsy kale chips tattooed viral forage Portland. Schlitz plaid Williamsburg Etsy whatever, mumblecore kogi quinoa polaroid kitsch. Drinking vinegar next level letterpress put a bird on it craft beer tousled. Polaroid pop-up squid, wayfarers banjo small batch roof party irony. Neutra Cosby sweater pop-up, Brooklyn Etsy leggings post-ironic try-hard semiotics. Single-origin coffee Shoreditch DIY, Tonx vinyl occupy readymade +1 forage farm-to-table street art. Art party stumptown literally drinking vinegar, roof party Neutra Wes Anderson fixie next level Pinterest.
    </p>
    <p>
      Cosby sweater leggings flexitarian Vice art party, lomo forage post-ironic kogi tattooed. PBR mixtape fixie kogi bespoke. Shabby chic kale chips lo-fi, chillwave pop-up pour-over you probably haven't heard of them sartorial cray church-key scenester narwhal. Kitsch seitan Carles food truck, scenester 3 wolf moon sustainable slow-carb. PBR meggings kogi post-ironic. Disrupt ethnic quinoa, hella deep v Godard sustainable chillwave wayfarers. Pitchfork asymmetrical Helvetica, XOXO Carles Wes Anderson photo booth.
    </p>
</div>
