<div class="search-form-inputs">
  <%= form.text_field :query, placeholder: "Skill Name" %>
  <div class="level-selectors">
    <div class="level-input">
      <%= form.radio_button :level, 1 %> Beginner
    </div>
    <div class="level-input">
      <%= form.radio_button :level, 2 %> Intermediate
    </div>
    <div class="level-input">
      <%= form.radio_button :level, 3 %> Advanced
    </div>
  </div>
</div>
