<!DOCTYPE html>
<html>
<head>
  <title>Thes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    Welcome to <a href="#" class="header-name">Thes</a>
    <nav>
      <form>
        <input type="email" placeholder="email">
        <input type="password" placeholder="password">
        <input type="submit" value="login">
      </form>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
